#!/usr/bin/env bash

set -e

# detect WSL and skip install kernel headers
# to use VMs
is_wsl() {
    [ -n "$WSL_DISTRO_NAME" ] && return 0
    grep -qi "microsoft" /proc/version 2>/dev/null && return 0
    grep -qi "microsoft" /proc/sys/kernel/osrelease 2>/dev/null && return 0
    return 1
}

if command -v apt-get >/dev/null; then

  sudo apt-get update

  if is_wsl; then
    sudo apt-get install -y "linux-headers-$(uname -r)" --no-install-recommends
  fi

  sudo apt-get install -y --no-install-recommends {{ join " " .packages.debian.base }}


  if [ "${AMD}" = "1" ]; then
    sudo apt-get install -y --no-install-recommends {{ join " " .packages.debian.amd }}
  fi

  if [ "${DEV}" = "1" ]; then
    sudo apt-get install -y --no-install-recommends {{ join " " .packages.debian.dev }}
  fi

  if [ "${GUI}" = "1" ]; then
    sudo apt-get install -y --no-install-recommends {{ join " " .packages.debian.gui }}
  fi
fi