#!/usr/bin/env bash

chsh -s /bin/bash

brew doctor
brew update
brew bundle --verbose --file=/dev/stdin <<EOF

{{ range .packages.brew.taps }}
tap {{ . }} \
{{ end }}

cask_args appdir: "{{ .packages.brew.appdir }}", require_sha: {{ .packages.brew.require_sha }}

{{ range .packages.brew.packages }}
brew {{ . }} \
{{ end }}

{{ range .packages.brew.casks }}
cask {{ . }} \
{{ end }}
EOF

brew cleanup
